// Colors
$cl-blue-100: #dbeef8;
$cl-blue-200: #b1d9f0;
$cl-blue-300: #b2e2f5;
$cl-blue-400: #00a0df;
$cl-blue-500: #0084cf;
$cl-blue-600: #0073c3;
$cl-blue-700: #005ba1;
$cl-blue-800: #124d8e;
$cl-blue-900: #00f;

$cl-grey-light-100: #f7f7f7;
$cl-grey-light-200: #e2e2e2;
$cl-grey-light-300: #b4b4b4;
$cl-grey-light-400: #c2c2c2;
$cl-grey-light-500: #bababa;
$cl-grey-light-600: #a6a6a6;
$cl-grey-light-700: #969696;
$cl-grey-light-800: #686868;
$cl-grey-light-900: #707070;

$cl-grey-dark-100: #626b71;
$cl-grey-dark-200: #464f55;
$cl-grey-dark-300: #3a4044;
$cl-grey-dark-400: #333;
$cl-grey-dark-500: #262626;

$cl-grey-blue-100: #748490;
$cl-grey-blue-200: #3f6476;
$cl-grey-blue-300: #425563;

$cl-red-100: #f3caca;
$cl-red-200: #f46064;
$cl-red-300: #f33737;
$cl-red-400: #f00;
$cl-red-500: #bf2b2b;
$cl-red-600: #a62626;

$cl-green-100: #b8e6cb;
$cl-green-200: #7fd4a6;
$cl-green-300: #00c68b;
$cl-green-400: #16a25c;
$cl-green-500: #00905e;
$cl-green-600: #0f894c;

$cl-yellow-100: #ffffd9;
$cl-yellow-200: #fff399;
$cl-yellow-300: #e6e600;

$cl-violet-100: #8040c9;
$cl-violet-200: #b459e1;

$cl-orange: #f90;

$cl-purple: #9b4eae;

$cl-cyan: #15a7a7;

$cl-pink: #b20049;

$cl-black: #000;
$cl-white: #fff;

// GOG-common
$breakpointMedium: 1060px;
$breakpointSmall: 640px;

$fontBold: 700;
$fontSemiBold: 600;
$fontRegular: 400;
