<header>
  <nav class="menu">
    <div class="menu__container">
      <a class="menu__logo" href="#" title="GOG.com">
        <img src="/assets/images/logo.png" alt="GOG.com"/>
      </a>
      <a (click)="toggleCart()" [class]="isCartOpen ? 'menu__cart--active' : 'menu__cart'" title="Cart">
        <img src="/assets/images/cart-icon.png" alt="Cart icon"/>
        <span>{{ productsAmountInCart }}</span>
      </a>
      <div class="clearfix"></div>
      <cart-view *ngIf="isCartOpen"></cart-view>
      <div *ngIf="isCartOpen" (click)="toggleCart()" class="cart-overlay"></div>
    </div>
  </nav>
</header>

<jumbotron></jumbotron>
<products-list [addProduct]="cartService.addProduct" [isInCart]="cartService.isInCart"></products-list>
