<div class="cart-view">
  <div class="cart-view__info"><span>{{ cartInfo }}</span></div>
  <div [class]="totalSum ? 'cart-view__price' : 'cart-view__price--inactive'">{{ totalSum | currency }}</div>
  <button
    [class]="cartService.amountInCart ? 'cart-view__btn' : 'cart-view__btn--inactive'"
    (click)="cartService.clearCart()"
    [disabled]="cartService.amountInCart == 0"
  >Clear cart</button>
</div>
<div class="cart-item" *ngFor="let product of cartService.productsInCart ; trackBy: trackByIndex" >
  <img class="cart-item__image" src="{{ product.image }}"/>
  <div class="cart-item__content">
    <p>{{ product.title }}</p>
    <a (click)="cartService.removeProduct(product.id)">Remove</a>
  </div>
  <span class="cart-item__price">{{ product.price | currency }}</span>
</div>
